@import '/src/css/app.variables';
.card-map{
  width: 407px;
  height: 240px;
  background: $bgGray;
  border-radius: 8px;
overflow: hidden;
}

[class*="copyrights-pane"]{
display: none !important;
}
