@import '/src/css/app.variables';

.button {
  padding: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $tWhite;
  width: 100%;
  border-radius: 8px;
  height: 100%;
}
