.button{
   padding: 14px ;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  max-width: 243px;
  border-radius: 8px;
}
