/*   General variables   */
$minContentWidth: 320px;

/*   Font variables   */
$fontpostfix: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, Noto Sans, sans-serif;
$Roboto: $fontpostfix;
$Rub: 'Rub', $fontpostfix;
$NotoSans: 'Noto Sans', sans-serif;


/*   Color variables   */
$cWhite: #fff;
$cBlack: #1D1D1D;
$cGray: #EBEBF2;
$cRed: #FF3B30;
$cGreen: #00D56A;

/*   Form variables   */
$fBorderColor: #E5E3EE;
$fBackgroundColor: #F7F7FA;
$fActiveColor: #39e8a5;
$fBorderRadius: 4px;
$fFieldHeight: 48px;
$fFieldFontSize: 14px;
$fFieldTextColor: #9A99A2;

/*   Text variables   */
$tGray: #9A99A2;
$tBlack: #01002C;
$tWhite: #FFFFFF;
$tGreen: #00D56A;


/*   Background variables   */
$bgBlack: #000;
$bgWhite: #fff;
$bgGray: #c0c0c0;
$bgLightGray: #F8F8FF;
$bgGreyLL: #E5E5E5;

