@import '/src/css/app.variables';

.apartments-info {
  height: 240px;
  width: 412px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin-right: 65px;
    overflow: hidden;
  }

  &__label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $cGreen;
    margin-bottom: 5px;
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $tBlack;
  }

  &__status {
    padding: 10px 0;
    height: 100px;
    background: #F8F8FF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $tBlack;

  }

  &__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
  }

  &__text {
    width: 200px;
    text-align: center;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: $tBlack;


  }

  &__btn {
    width: 204px;
    height: 48px;
    border-radius: 8px;

  }
}
