@import '/src/css/app.variables';

.apartmentsInfo {
  height: 240px;
  width: 407px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $cGreen;
margin-right: 65px ;
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: $tBlack;
  }

  &__status {
    height: 100px;
    background: $tWhite;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $tBlack;

  }
  &__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__text{
    width: 200px;
    text-align: center;
  }
  &__cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: $tBlack;

    button {
      width: 200px;
      height: 48px;
      border-radius: 8px;
    }
  }
}
