@import '/src/css/app.variables';

.card-apartments {
  width: 1052px;
  height: 272px;
  background: $bgWhite;
  box-shadow: 3px 4px 4px rgba(1, 0, 44, 0.25);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &__info {

  }

  &__toggle-map {
    position: absolute;
    top: 16px;
    right: 18px;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background: $bgWhite;
    border: 2px solid $cGreen;
    color: $cGreen;

  }
}
