@import '/src/css/app.variables';

.footer-grid{
  margin-top: 15px;
  &:not(:last-child){
    margin-right: 220px;
  }
  &__title{
    width: 136px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }
  &__link {
    width: 100px;
    height: 48px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  a{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: $tBlack;

  }
}

